body{background-color: black; color: #c49a9a}
title{color: rgb(221, 11, 88);}
title{font-size: xx-large;}
h1{color: rgb(221, 11, 88);}
h1{font-size: xxx-large;}
h1{font-family: ;}
h2{color: rgb(221, 11, 88);}
h2{font-size: x-large;}
h3{color: rgb(221, 11, 88);}
h3{font-size: x-large;}
h4{color: rgb(221, 11, 88);}
h4{font-size: x-large;}
h5{color: rgb(221, 11, 88);}
h5{font-size: x-large;}
p{color: rgb(221, 11, 88);}
p{font-size: large;}
h6{color: rgb(221, 11, 88);}

section{background-color: antiquewhite;} 
